<div ng-controller="EntriesCtrl">
  <h2>{{testText}}</h2>
  <form name="entryForm" ng-submit="addEntry(entry)" novalidate>
        <label>Name</label>
        <input type="text" ng-model="entry.name" required></input>
        <label>Price</label>
        <input type="text" ng-model="entry.price"></input>
    <button class="btn btn-success">Create</button>
    entryForm is {{entryForm.$valid}}
  </form>
  <hr>
  <section id="todo">
    <ul>
      <li ng-repeat="entry in entries" ng-class="{highlight: entry.flag}">
        <span>
          {{entry.name}} |
          {{entry.price | currency:"&euro;"}}
          <input type="text" ng-model="entry.name"></input>
          <input type="text" ng-model="entry.price"></input>
          <button ng-click="updateEntry(entry)" class="btn btn-warning">Update</button>
          <button ng-click="deleteEntry(entry)" class="btn btn-danger">Delete</button>
          <button ng-click="flagEntry(entry)" class="btn btn-info">Flag</button>
        </span>
        <hr>
      </li>
    </ul>
  </section>
</div>