<section>

  <ul class="nav nav-pills">

    <li ng-class="{ active:tab === 1 }"> 
      <a href ng-click="setTab(1)">Descriptions</a> 
    </li>
    <li ng-class="{ active:tab === 2 }"> 
      <a href ng-click="setTab(2)">Specification</a> 
    </li>
    <li ng-class="{ active:tab === 3 }"> 
      <a href ng-click="setTab(3)">Details</a> 
    </li>
    
    {{tab}}

  </ul>

</section>

<section>

  <div ng-show="isSelected(1)">
    <h4>Descriptions</h4>
    <p>Lorem Ipsum tralala loublumLorem Ipsum tralala loublumLorem Ipsum tralala loublumLorem Ipsum tralala loublumLorem Ipsum tralala loublumLorem Ipsum tralala loublum</p>
  </div>

  <div ng-show="isSelected(2)">
    <h4>Specifications</h4>
    <p>Le texte du panel numero 2 Le texte du panel numero 2 Le texte du panel numero 2 Le texte du panel numero 2 Le texte du panel numero 2 Le texte du panel numero 2 </p>
  </div>

  <div ng-show="isSelected(3)">
    <h4>Details</h4>
    <p>Abeqlskdjh qksjdizuoy azytreuayzegfgaz Abeqlskdjh qksjdizuoy azytreuayzegfgaz Abeqlskdjh qksjdizuoy azytreuayzegfgaz Abeqlskdjh qksjdizuoy azytreuayzegfgaz </p>
  </div>


</section>